
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Главная страница блога</title>
    </head>
    <body>
        <header>
           
            <div id="user-panel">
            <a href="javascript:void(0);">[Панель для абитуриента]</a>
            </div>
        </header>
        <div id="main">
            <aside class="leftAside">
                <h2>Главная страница</h2>
                <ul>
                    <li><a href="#">О ВУЗе</a></li>
                    <li><a href="#">Поступающим</a></li>
                    <li><a href="#">Студентам</a></li>
                    <li><a href="#">Преподавателям</a></li>
                    
                </ul>
            </aside>
            <section>
                <article>
                <h1>
                    Кафедра прикладной информатики</h1>
                    <div class="text-article">
                    Шифр и наименование направления: 09.03.03 Прикладная информатика
                    </div>
                    <div class="fotter-article">
                        <span class="autor">Срок обучения <a href="#">5 лет</a></span>
                    <span class="read">
                        <a href="javascript:void(0);"> Подробнее</a></span>
                    <span class="date-article">Поток 2022-2023</span>
                    </div>
                </article>
            <article>
                <h1>
                    Кафедра Химии
                </h1>
                <div class="text-article">
                    Шифр и наименование направления: 18.03.01 Химическая технология
                </div>
                <div class="fotter-article">
                    <span class="autor">Срок обучения <a href="#">5 лет</a></span>
                    <span class="read">
                        <a href="javascript:void(0);"> Подробнее</a>
                    </span>
                    <span class="date-article">Поток 2022-2023</span>
                </div>
            </article>
            <article>
                <h1>
                    Кафедра экономики
                </h1>
                <div class="text-article">
                    Шифр и наименование направления: 38.03.01 Бухгалтерский учёт
                </div>
                <div class="fotter-article">
                    <span class="autor">Срок обучения <a href="#">5 лет</a></span>
                    <span class="read">
                        <a href="javascript:void(0);"> Подробнее</a>
                    </span>
                    <span class="date-article">Поток 2022-2023</span>
                </div>
            </article>
            </section>
        </div>
        <footer>
            <div>
                <span>Тестовое приложение JAVA EE. Выполнил Басыров Илья</span>
                
            </div>
        </footer>
    </body>
</html>